
body {
  background-color: #f0f6fc;
  color: #0D1117;
  margin: 0;
}
.header {
  /* background-color: #f0f6fc; */
  align-items: center;
  justify-content: center;
  padding-bottom: 20px;
  padding-top: 20px;
  box-shadow: 0 1px 0px rgba(177, 177, 177, 0.5);
  max-width: 100%;
  margin: 0;
  display: grid;
  grid-template-columns: 33.33% 33.33% 33.33%;
}
.name {
  text-align: left;
  font-size: 35px;
}
.title {
  display: grid;
  grid-template-columns: 40px minmax(0, 1fr);
  font-size: 30px;
  padding-bottom: 10px;
}
.title-item {
  font-weight: bold;
  display: flex;
  align-items: center;
}
.info {
  align-items: center;
  height: 100%;
  text-align: right;
  font-size: 14px;
  margin-right: 40px;
  display: grid;
  grid-template-rows: 25% 25% 25% 25%;
}
.info a {
  color: #f0f6fc;
  text-decoration: none;
}
.info-item {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 8px;
}
.logo {
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
}
.logo-img {
  border-radius: 50%;
  border-color: #101010;
  width: 100px;
  height: 100px;
}
.icon {
  width: 25px;
  height: 25px;
}

.text-1 {
  margin-left: 40px;
  font-size: 14px;
  color: #8b949e;
}
.cube{
  background-color: #101010;
  height: 35px;
  width: 20px;
}

.text-2 {
  margin-left: 15px;
  font-size: 15px;
  color: #a2adb9;
}
.text-2 a {
  color: #a2adb9;
}
.container {
  padding: 20px 0 0 0;
  display: grid;
  grid-template-columns: 50% 50%;
  max-width: 100%;
}
.subtitle {
  margin-top: 0;
  font-size: 25px;
  font-weight: bold;
  max-width: 100%;
}
.section {
  display: grid;
  grid-template-columns: 40px minmax(0, 1fr);
}

.section-item {
  display: flex;
  align-items: center;
}
.subtopic {
  color: #121212df;
  font-size: 20px;
  margin: 10px 0 15px 40px;
}

@media (max-width: 600px) {
    .header {
      grid-template-columns: 33.33% 33.33% 33.33%;
    }
    .title {
      font-size: 16px;
      align-items: center;
      grid-template-columns: 20px minmax(0, 1fr);
      padding-bottom: 5px;
    }
    .info {
      font-size: 8px;
      margin-right: 10px;
    }
    .info-item {
      margin-bottom: 4px;
    }
    .logo-img {
      width: 65px;
      height: 65px;
    }
    .icon {
      width: 17px;
      height: 17px;
    }
    .container {
      grid-template-columns: 100%;
      padding: 10px 0 0 0;
    }
    .text-2 {
      margin-left: 10px;
      font-size: 10px;
    }
    .text-1 {
      font-size: 7px;
      margin-left: 20px;
    }
    .cube {
      height: 18px;
      width: 18px;
    }

    .section {
      grid-template-columns: 20px minmax(0, 1fr);
      align-items: center;
    }
    .subtitle {
      font-size: 15px;
    }
    .subtopic {
      font-size: 13px;
      margin-left: 20px;
    }
}
